.container {
  display: flex;
}
@media all and (min-width: 480px) {
  .container {
    display: block;
  }
}

.item {
  margin-right: 20px;
}

@media all and (min-width: 480px) {
  .item {
    display: block;
    margin-bottom: 20px;
  }
}

.item a {
  font-family: 'Oswald', sans-serif;
  font-weight: 300;
  font-size: 16px;
  letter-spacing: 0.12em;
  color: white;
}

.item.post a {
  color: #000;
}
